---
import { buttonVariants } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import DocsNav from "@/components/docs-nav";
export async function getStaticPaths() {
  const posts = await getCollection("docs");

  return posts.map((page: any) => ({
    params: { slug: page.slug },
    props: { page },
  }));
}
const posts = await getCollection("docs");
const page = Astro.props.page;
const { Content } = await page.render();
---

<BaseLayout
  title="Venice Docs"
  description="docs for Venice, the OSS Micropython runtime for VEX V5"
  nocredit
>

  <div class="backdrop-blur-lg bg-white/30 my-5 rounded-xl mx-auto lg:flex">
      <div class="hidden lg:block">
      <DocsNav posts={posts} client:load post={page} isMobile={false} />
      </div>
      <div class="lg:hidden">
      <DocsNav posts={posts} client:load post={page} isMobile={true} />
      </div>
      <div>
      <Content />
      </div>
  </div>
</BaseLayout>

<style is:global>
  h2,
  h3,
  h4 {
    color: var(--color-accent);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  a {
      color: var(--color-accent);
      text-decoration: underline;
  }
  Content {
      line-height: 2rem;
  }
  p {
      margin-bottom: 1rem;
  }
  td, th {
      padding: 0.25rem;
      border: 1px solid var(--color-border);
  }
</style>
